# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# user
*.d
*.lh
package-lock.json

# self
analyze/
*.d
*.zip
*demo*.py
__temp
test/*
.lh/
.env
*.psd
# self/build
temp
*-in.txt
untitled*
Pipfile
Pipfile.lock
codecov*
*_local.yml
*-lock.yaml
*.hash
# self/conf
conf.yml
# self/bug-report
_bug_log
# ide
.cursor

# uv
.python-version
uv.lock
