.demo-image__lazy {
  height: 100%;
  overflow-y: auto;

  .el-image {
    display: block;
    min-height: 200px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 900px) {
  .demo-image__lazy {
    .el-image {
      width: 65%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}